
[Unit]
Description=Dexpy
After=network.target

[Service]
ExecStart=/home/nexus/cgm_wecker/venv/bin/python3 dexpy.py --CONFIGURATION dexpy.json
WorkingDirectory=/home/nexus/cgm_wecker
StandardOutput=inherit
StandardError=inherit
TimeoutStopSec=30
Restart=on-abort
User=nexus

[Install]
WantedBy=multi-user.target
